:root {
        --ic-brand-primary-darkened-5: #036FAC;
--ic-brand-primary-darkened-10: #0369A3;
--ic-brand-primary-darkened-15: #03639A;
--ic-brand-primary-lightened-5: #0F7AB8;
--ic-brand-primary-lightened-10: #1C81BC;
--ic-brand-primary-lightened-15: #2888C0;
--ic-brand-button--primary-bgd-darkened-5: #0055B7;
--ic-brand-button--primary-bgd-darkened-15: #004CA4;
--ic-brand-button--secondary-bgd-darkened-5: #E3E3E3;
--ic-brand-button--secondary-bgd-darkened-15: #CBCBCB;
--ic-brand-font-color-dark-lightened-15: #434343;
--ic-brand-font-color-dark-lightened-28: #5F5F5F;
--ic-link-color-darkened-10: #2468B7;
--ic-link-color-lightened-10: #3C81D0;
--ic-brand-primary: #0374B5;
--ic-brand-font-color-dark: #222222;
--ic-link-color: #2773cb;
--ic-brand-button--primary-bgd: #0059C0;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #eeeeee;
--ic-brand-button--secondary-text: #2773cb;
--ic-brand-global-nav-bgd: #02274c;
--ic-brand-global-nav-ic-icon-svg-fill: #02274c;
--ic-brand-global-nav-ic-icon-svg-fill--active: #FFFFFF;
--ic-brand-global-nav-menu-item__text-color: #FFFFFF;
--ic-brand-global-nav-menu-item__text-color--active: #FFFFFF;
--ic-brand-global-nav-avatar-border: #FFF;
--ic-brand-global-nav-menu-item__badge-bgd: #ff534d;
--ic-brand-global-nav-menu-item__badge-bgd--active: #2773cb;
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #02274c;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_143770000000000001/attachments/89566062/LU_Canvas_Logo.svg');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads.s3.amazonaws.com/account_143770000000000001/attachments/89566063/Logo-%20dark.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_143770000000000001/attachments/6438/favicon.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #ffffff;
--ic-brand-Login-body-bgd-image: url('https://instructure-uploads.s3.amazonaws.com/account_143770000000000001/attachments/34717/LibertyCampus.jpg');
--ic-brand-Login-body-bgd-shadow-color: #000000;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_143770000000000001/attachments/73829760/lu-canvas.svg');
--ic-brand-Login-Content-bgd-color: #ffffff;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #222222;
--ic-brand-Login-Content-password-text-color: #2773cb;
--ic-brand-Login-footer-link-color: #2773cb;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }